.App {
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Header.js */
.header{
  font-size: 24px;
}
.btn-nav{
  width: 10vw;
}
.logo-header{
  width: 50px;
  height: 100%;
}

/* Home */
.body-container{
  text-align:left;
  width: 80%;
  height: 100%;
  margin: 5vh auto 3vh;
}
.player-name{
  margin-left: 20vw;
}
.auction-title{
  font-size: 24px;
  font-weight: bold;
  padding-left: 3vw;
}
.auction-link{
  text-decoration: none !important;
  color: #000;
}
.auction-link:hover{
  color: #000;
}
.grid-body{
  margin-left: 5vw;
}
/* auction */
.auction-table{
  width: 90% !important;
  margin: 3vh auto ;
  text-align: center;
}
.description{
  font-size: 26px;
  font-weight: bold;
  margin: 1vh 5vw 3vh;
  color:mediumturquoise;
}
.descript{
  margin: 3vh 5vw 15vh;
}