.cartAuctionGame {
    position: relative;
    height: 67vh !important;
    background: aliceblue;
    border: 1px solid rgb(103, 185, 240);
}

.cartAuctionGame:hover {
    box-shadow: 0 0 10px rgb(35 173 255);
    
}

.cartGameWebsite {
    font-weight: 600;
}

.cartGameTime {
    font-weight: 500;

}

.cartGameDuration {
    font-weight: 500;
}
.cartGamePosition {
    font-weight: 500;

}


.cartGamePriceBegun {
    font-weight: 600;
    font-size: 20px;
    bottom: 5%;
    left: 5%;
}
