.containerHeader {
    position: relative;
  display: inline-block;
}

.outLineNone {
    border: none !important;
}

.dropdownHeader {
    position: absolute;
    top: 100%;
    right: -9%;
    width: 11.875rem;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    /* background */
    background: #343a40;
    margin: 0 90px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdownHeaderCata {
  position: absolute;
  top: 100%;
  right: 66%;
  width: 10rem;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  /* background */
  background: #343a40;
  margin: 0 90px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btnCatalog {
  padding: .375rem .75rem !important;
  width: 100%;
  text-align: left;
}

.inputAllSearch {
  position: absolute;
  top: -14%;
  left: -36%;
  min-width: 14rem;
  margin-top: 0.8rem;
  padding-left: 6px;
  height: 2.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #343a40;
  font-size: inherit;
  color: #fff;

}

.inputSearch {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  border-left: none;
  background: #343a40;
  font-size: inherit;
  color: #fff;
  font-size: 14px;
  margin-left: -0.375rem;
  padding-left: 0.575rem;
  font-weight: 501;
}

.inputSearch:hover {
  /* box-shadow: 0 16px 24px 2px rgba(28, 12, 245, 0.14); */
  box-shadow: 0 0 10px rgb(75, 178, 229);
}

.svgtoSearch {
  position: absolute;
  top: 15%;
  right: 0%;
}


::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.headerBtnLogin {
    /* padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  font-weight: 400; */
}


ul {
    list-style: none;
    margin: 0px;
    padding: 0px 5px 10px 0px;
}

li {
    padding: 6px 12px;
    border-bottom: 1px solid rgba(102, 85, 85, 0.863);
}

ul > li:nth-child(1) {
    border-top: 1px solid rgba(102, 85, 85, 0.863);
}

ul > li:nth-child(4) {
    border:none;
}



li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.activeMenu {
    display:block;
    transform: rotate(90deg);
}

/* .activeRotate {
    transform: rotate(-180deg) !important;
    transition: all 3s ease !important;
    
} */

.nonActiveRotate {
    margin: auto;
    /* border: 1px solid black;
    background-color: coral; */
    color: white;
    animation: mymove2 0.5s ease;
  }
  
  @keyframes mymove2 {
    0% {transform: rotate(180deg);}
  }



.activeRotate {
    margin: auto;
    /* border: 1px solid black;
    background-color: coral; */
    color: white;
    animation: mymove 0.5s ease;
  }
  
  @keyframes mymove {
    0% {transform: rotate(-180deg);}
  }

