.autofix {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}

.body-banner {
    padding-top: 0;
    padding-left: 30px;
    border-radius: 10px ;
    border: 2px solid #1d1f17;
    box-sizing: content-box;
    background: #fff;
}

#slogan{
  background-color: rgba(114, 136, 139, 0.712);
  padding: 10px 20px;
  border-radius: 30px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
  font-size: 2.5rem; 
  font-style: italic; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 25px;
  letter-spacing: 1px;
}
#slogan > span{
  font-weight: 100; 
}

.iconPanner {
    position: absolute;
    right: 40vh;
}
.home-sologan {
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding-bottom: 40vh;
  font-size: 2rem;
  padding-left: 5rem;
  width: 100%;
  height: auto;
  display: block;
}
.home-panther {
  z-index: 1;
  position: absolute;
  max-width: 40vw;
  margin-top: 2vh;
  margin-left: 40vw;
}
.homepage-panther{
  z-index: 1;
  position: absolute;
  max-width: 50vw;
  margin-top: -8vh;
  margin-left: 30vw;
}
.col-items {
  margin: 30px 35px;
}
.ml-10 {
    margin-left: 8.6rem;
}

.pb-20 {
    padding-bottom: 10rem;
}

.src {
    border-radius: 2px;
    border: 1px solid #1d1f17;
    
}
/* TAB FOR HOME */
.tabs {
  display: flex;
  position: relative;
  padding: 0 0 7vh 0;
}
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #46aca4;
    transition: all 0.2s ease;
  }

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #34cf82;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(53, 194, 112, 0.05);
    border-color: rgba(53, 194, 107, 0.1);
  }
.tab-icon {
  font-size: 24px;
  width: 32px;
  position: relative;
  top: 2px;
}

.tab-item.active {
  opacity: 1;
  background-color: #222222d4;
}


/*======*/
.btn-interest{
  position: absolute;
  background: #287673d4;
  padding-bottom: 5px;
  border-radius: 20px;
  top: -5%;
  z-index: 1;
  right: -5%
}

.btn-interested{
  position: absolute;
  background: #287673d4;
  border: 1px solid #287673d4;
  border-radius: 50%;
  top: -5%;
  z-index: 1;
  right: -5%;
  
}

.btn-interested:hover{
  background: #c71a0ed4;
  box-shadow: 0 0 10px rgb(207, 67, 67);
}


.home-container{
  width: 100%;
  padding-top: 18vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* Homepage */

.auction-title {
  color: #17a2b8;
  padding: 2vh 0 6vh 0;
  margin-bottom: 0px;
}

.background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-repeat: round;
}

