
.profile-layout {
    width: 100%;
    height: 100vh;
    padding: 20vh 15vw 7vh;
    box-sizing: border-box;
}

.profile-layout .main-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 3px solid #1790c9;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}
/*navbar*/
.profile-layout .main-container .slide-bar{

    width: 95%;
    height: 95%;
    background-color: #f8f9faa4;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    @media only screen and (max-width: 414px) {
        position: "unset";
        top: "50px";
        width: "100%";
        padding: "10px 10px 0 10px"
    }
}
.profile-layout .main-container .avatar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.profile-layout .main-container .avatar > .d-flex {
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(136, 136, 136);
}
.profile-layout .main-container .avatar > .d-flex .btn-info {
    margin: 0 10px 0 0;
    border: 1px solid rgb(136, 136, 136);
}
.profile-layout .main-container .avatar img{
  
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #1790c9;
    @media only screen and (max-width: 414px) {
        width: "120px";
        height: "120px"
    }
  
}
.profile-layout .main-container .avatar h4{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    @media only screen and (max-width: 414px) {
        fontSize: "18px"
    }
}
.profile-layout .main-container .btn-switch{
    width: 100%;
    padding-top: 20px;
    @media only screen and (max-width: 414px) {
        overflowX: "scroll"
    }
}
.profile-layout .main-container .btn-switch span{
    width:100%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid rgba(109, 109, 109, 0.699);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.profile-layout .main-container .btn-switch span:hover{
    background-color: rgba(83, 153, 25, 0.829)
}
/*input*/
.clickToEdit {
    position: absolute;
    width: 40px;
    top: 5%;
    right: 5%;
    border: 1px solid #17a2b8;
    border-radius: 50%;
    z-index: 1;
    background: #17a2b8;
}
.profile-layout .main-container .article {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
 
    @media only screen and (max-width: 414px) {       
        width: "100%";
        marginLeft: "0";
        padding: "20px 0";
    }
}

.profile-layout .main-container .article .title-art{
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 10px 20px;
    @media only screen and (max-width: 414px) {
        display: "none"
    }    
} 

.profile-layout .main-container .article .input-art {
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    @media only screen and (max-width: 414px) {
      height: "60vh";
      overflowY: "scroll";
      display: "flex";
      width: "300%"
    }
}
.profile-layout .main-container .article .input-art .info {
    margin: 0 0 15px 0;
    @media only screen and (max-width: 414px) {
        height: "fit-content";
        width: "33.3333%";
        margin: "0 30px";
        opacity: 0;
        transition: "opacity 0.5s ease"
    }
}
.profile-layout .main-container .article .input-art .info h4{
    padding: 10px 10px;
    font-weight: 500;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 0;
    background-color: #5495d6cb;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.profile-layout .main-container .article .input-art .info > div{
    padding: 10px 10px;
    background-color: #f0f0f0cb;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
}
.profile-layout .info .d-grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}
.profile-layout .main-container .info .d-grid > label {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 30px 0 0px;
    margin: 0;
    text-align:end;
    vertical-align: middle;
}
.profile-layout .main-container .info .d-grid > input{
    height: 45px;
    padding: 0 20px;
    margin: 5px 0;
    background-color: #abd7f0fa;
    border: 1px solid rgb(238 206 214);
    border-radius: 5px;
}
.profile-layout  .d-grid > span {
    display: flex;
}
.profile-layout .d-grid > span input:first-child {
    width: 45%;
    height: 45px;
    padding: 0 20px;
    margin: 5px auto 5px 0;
    background-color: #abd7f0fa;
    border: 1px solid rgb(238 206 214);
    border-radius: 5px;
}
.profile-layout .d-grid > span input:last-child {
    width: 45%;
    height: 45px;
    padding: 0 20px;
    margin: 5px 0 5px auto;
    background-color: #abd7f0fa;
    border: 1px solid rgb(238 206 214);
    border-radius: 5px;
}
.profile-layout .main-container .article .input-art div > button{
    background-color: #5495d6cb;
    color: #FFF;
}
.main-container .article .input-art .btn-edit{
    text-align: center;
    margin: 0 auto 40px ;
}
.profile-layout .cp-err{
    padding: 0 20px;
    border-radius: 40px;
    background-color: rgb(248, 248, 248);
    color: red;
}
